<div class="container">
  <div class="my-5"></div>
  <semi-table classes="table-bordered table-hover" class="mat-elevation-z9" [dataSource]="data">
    <semi-table-head>
      <!-- <th>Actions</th> This is required here -->
      <th filterable="position">Position</th>
      <th filterable="name">Name</th>
      <th filterable="weight">Weight</th>
      <th filterable="symbol">symbol</th>
    </semi-table-head>
    <ng-template let-data>
      <!-- <td>position
        <button color="accent" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button color="warn" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td> -->
      <td>{{ data.position }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.weight }}</td>
      <td>{{ data.symbol }}</td>
    </ng-template>
    <!-- <semi-table-actions>
      <button color="primary" mat-raised-button class="mt-2">Actions</button>
    </semi-table-actions> -->
  </semi-table>
</div>
